div{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 10px solid red;
    margin: 10px;
    float: left;
}

.box1{
border-radius: 20px;

}
.box2{
    border-radius: 50px;

}

.box3{
 border-radius: 100%;
}

.box4{
 border-radius: 50px 0 50px 0;
}

.box5{
border-radius: 200px 0 0 0;
}

.box6{
 border-radius: 200px 200px 200px 0;
}

.box7{
 border-radius: 200px 0 200px 0;
}

.box8{
    border-radius: 100px 100px 0 0;
}


/* margin : 여백
margin-top : 위쪽 여백
margin-left : 왼쪽 여백
margin-right : 오른쪽 여백
margin-bottom : 아래쪽 여백

float-none : 띄우지 않음
float-left : 왼쪽으로 띄움
float-right : 오른쪽으로 띄움
float-initial : 기본값으로 설ㅈ어
float-inherit : 부모 요소로부터 상속함

float : 왼쪽 정렬 정렬 같은 느낌 */