body{
    font-size:15px;
    line-height: 1.6em;
}
h1{
    color: blueviolet;
    font-weight: normal;
    text-decoration: line-through;
}

a{
    text-decoration: none;
}
p.text{
    font-weight: bold;
    font-style: italic;
    text-align: justify;

}

p.pop{
    text-transform: uppercase;
    
}